#history {
    overflow-Y: scroll;
    overflow-x: hidden;
    padding: 0 3%;
    min-height: 100%;
    width: 100%;
}

#row {

    margin-left: 0;
    margin-bottom: 3%
}



#history h3 {
text-align: center;
}

#history h4 {
    text-align: left;
}

#history .recordsList {
    margin-top: 50px;
}