#history {
    overflow-Y: scroll;
    overflow-x: hidden;
    padding: 0 3%;
    min-height: 100%;
}

#row {

    margin-left: 0;
    margin-bottom: 3%
}



h3 {
text-align: center;
}

h4 {
    text-align: left;
}

.recordsList {
    margin-top: 50px;
}