.history {
    overflow: scroll;

}
.history h3 {
    text-align: center;
}

/*.history .container {*/
    /*max-width: 100%;*/
/*}*/

input {
    margin-right: 5%;
}

.recordsList {
    text-align: center;
}

.category {
    width: 20%;

}