h2
{
    margin-top: 3%;
    font-weight: bold;
    text-align: center;
    color: #000;
    text-shadow: 1px 1px #fff;
    font-size: 30px;
}


.table{
   font-size:  20px;
    /*text-align: center;*/
}
/*.react-bs-container-body {*/
    /*margin-top: -17px;*/
    /*margin-bottom: -14px;*/
/*}*/
/*.date {*/
    /*text-align: center;*/
    /*margin-right: -6px;*/
/*}*/
/*.incomeFrom {*/
    /*margin-left: 122px;*/
    /*padding-left: 100px;*/
/*}*/