


.loginForm{
   margin: 0 auto;
    width:70%;
}

.logUpForm{
    margin: 0 auto;
    width:70%;
}
h1{
    margin: 0 auto;
padding-left: 20px;
    width:100%;
    font-family: Lato;


}

h4{
    margin: 0 auto;
    width:70%;
}

#Logo{
   fill: mediumblue;
    height: 10%;
    width: 100%;
}